   <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{{title}}</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1>welcome to Dashboard</h1>
        </div>
      </div>
    </div>