<div class="container">
   <div class="text-center">
      <strong>Message From: {{message.fname}}  {{message.lname}}</strong>
      <p>Sent: {{#formatDate message.createdAt 'MMMM Do, YYYY'}} {{/formatDate}}</p>
      <br>
      <hr>
      <strong>{{message.subject}}</strong>
      <p>{{message.message}}</p>
   </div>
</div>